:root {
	--white: hsl(0, 0%, 100%);
	--whiteLight: hsl(0, 8%, 75%);
	--black: hsl(0, 0%, 0%);
	--violet: hsl(203, 84%, 17%);
	--gray:hsl(0, 0%, 53%);
	--grayLight:hsla(0, 0%, 91%, 1);
	--grayDark: hsla(0, 0%, 89%, 1);
	--pink: hsla(7, 82%, 67%, 1);

}
